body {
    margin: 0%;
    height: -webkit-fill-available;
    background-image: url(assets/Layer_20.png);
    background-size: cover;

}

a {
    text-decoration: none;
}

p {
    margin: 0;
}


.container {
    justify-content: space-between;
    width: 1024px;
    margin: auto;
    display: flex;
}

.logo-name {
    margin-top: 26px;
    display: flex;
}

.logo {
    width: 88px;
    height: 86px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(assets/Shape_8_copy_3.svg), url(assets/Shape_8_copy_4.svg); 
    
}

.name h1 {
    margin-left: 3px;
    margin-bottom: 21px;
    margin-top: 21px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: "OpenSans-Light";
    font-size: 30pt;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

nav {
    margin-top: 71px;
    margin-right: 2px;
    width: 453px;
    height: 41px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    box-shadow: -4px -4px 0 rgba(245,197,6,0.5), -8px -8px 0 rgba(245,197,6,0.25);
}

#menu {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: space-around;
    display: flex;
    
}

#menu li {
    list-style-type: none;
    flex: 1;
    padding-top: 9px;

}

#about {
    padding-left: 38px;
    padding-right: 15px;
    border-right: 1px solid #dcb105;

}

#services {
    padding-left: 12px;
    border-right: 1px solid #dcb105;

}

#contact {
    padding-left: 14px;
    padding-right: 11px;

}

#menu li a {
    display: flex;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "SegoeWP";
    text-align: center;
    text-transform: uppercase;

}

#menu li a:hover {
    color: #ffffff;

}

#menu li a img {
    padding-right: 10px;

}

#video-section {
    display: flex;
    margin-top: 45px;

}

#video-section .container div {
    margin-top: 72px;
    text-align: center;

}

#video-section div video {
    margin-left: 12px;

}

.top-text {
    text-transform: uppercase;
    font-size: 63px;
    letter-spacing: 0.7px;
    color: #f5c506;
    font-family: "Asap";

}

.the-minimal {
    margin-left: 35px;
    margin-top: -4px;
    margin-right: 19px;
    color: #ffffff;
    
}

.ctrl {
    margin-top: 133px;
    width: 32px;
    height: 57px;
    display: flex;
    justify-content: center;
    background-color: #f5c506;

}

.ctrl:hover {
    -webkit-transform: scale(1.2);

}

#icon-area-section {
    position: relative;
    z-index: 1;
    margin-top: 71px;
    background-image: url(assets/section2.png);
    box-shadow: 0px 0px 10px 0px #000000, 0px -3px 15px -15px #000000;

}

#icon-area {
    width: 100%;
    display: flex;

}

#icon-area div p {
    font-size: 27px;
    letter-spacing: 0.3px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;

}

#icon-area div {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

#icon-area div:not(:nth-child(2)) {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;

}

#better img {
    margin-left: 113px;
    width: min-content;

}

#better p {
    width: 322px;
    margin-bottom: 32px;
    margin-top: 9px;
    margin-left: 19px;

}

#customise {
    width: 338px;

}

#customise img {
    margin-left: 133px;
    width: min-content;
    margin-top: -2px;

}

#customise p {
    width: 358px;
    margin-top: 13px;
    margin-bottom: 31px;

}

#free {
    width: 339px;

}

#free img {
    margin-left: 118px;
    width: min-content;
    
}

#free p {
    width: 324px;
    margin-top: 9px;
    margin-bottom: 31px;
    
}

#calendar {
    background-image: url(assets/background_section_3.png);

}

.top-text-sect-calendar {
    margin-left: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 37px;
    letter-spacing: -0.7px;
    color: #ffffff;
    font-family: "OpenSans-Light";
    font-weight: 600;
    
}

#text-box {
    width: 342px;
    display: flex;
    justify-content: center;
    background-color: #ec9e03;

}

#text-box p {
    margin-top: 16px;
    margin-left: 10px;
    width: 279px;
    font-size: 28px;
    letter-spacing: 0.1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP";
    font-weight: 100;

}

#calendar-middle {
    height: 232px;
    display: flex;
    
}

#twitter {
    margin-left: 34px;
    width: 329px;
    background-color: #ec9e03;
    background-image: url(assets/twitter.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 58px;
}

#date {
    width: 114px;
    height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #ddb101;
}

#date-number {
    margin-top: 16px;
    margin-left: 7px;
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP";
    font-weight: bold;

}

.date-word {
    margin-left: 6px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "SegoeWP";

}

#scroll {
    width: 900px;
    height: 1px;
    margin-left: 73px;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 30px;
    
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;

}

input[type=range]:focus {
    outline: none;

}

input[type=range]::-webkit-slider-runnable-track {
    width: 896px;
    height: 15px;
    border-radius: 7px;
    background: rgb(250, 250, 250, 0.5);
    -webkit-appearance: none;

}

input[type=range]::-webkit-slider-thumb {
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: rgb(236, 158, 3);
    -webkit-appearance: none;
 
}
  

.image-plus {
    position: relative;
    left: 7px;
    top: 207px;
    height: 12px;
    width: 12px;
    background-image: url(assets/plus.svg);
    background-repeat: no-repeat;

}

#twitter .image-plus {
    left: 308px;

}

#twitter-text {
    float: right;
    position: relative;
    right: 17px;
    top: 9px;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP";
    font-weight: 300;

}

.image-plus:hover {
    -webkit-transform: scale(1.3);

}

#last-section {
    background-image: url(assets/bg_section_4.png);
    background-size: cover;

}

.top-text-last-section {
    margin-top: 36px;
    margin-left: 213px;
    font-size: 40px;
    letter-spacing: 0.9px;
    color: #f5c506;
    font-family: "OpenSans-Light";
    font-weight: 600;

}

#last-section-img-table {
    display: flex;
}

#image-last-section {
    display: flex;
    
}

#pc {
    height: 347px;
    width: 363px;
    background-image: url(assets/pc.svg);
    background-position: center;
    background-repeat: no-repeat;

}

#pc img {
    margin-top: 3px;
}

#pad { 
    margin-top: 89px;
    margin-left: 4px;
    height: 317px;
    width: 135px;
    background-image: url(assets/pad.svg);
    background-repeat: no-repeat;

}

#mobile {
    margin-left: 18px;
    margin-top: 55px;
    width: 42px;
    background-image: url(assets/mobile.svg);
    background-position: center;
    background-repeat: no-repeat;

}

#table-last-section ul {
    word-break: break-all;
    margin-top: 90px;
    margin-left: 58px;
    list-style-image: url(assets/marker.svg);

}

#first {
    padding-bottom: 13px;

}

#second {
    padding-bottom: 29px;

}

#third {
    padding-bottom: 13px;

}

#table-last-section ul li{
    width: 352px;
    height: 37px;
    font-size: 23px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "OpenSans-Light";
    font-weight: 600;
    padding-left: 13px;
    line-height: 27px;
}

footer {
    background-color: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);

}

#footer-logo a .logo-name {
    margin-top: 6px;

}

#footer-logo a .logo {
    width: 55px;
    height: 55px;
    background-size: cover;

}

#footer-logo a .name h1 {
    margin-left: 7px;
    margin-top: 8px;
    letter-spacing: 1.2px;
    font-size: 22pt;
}

.uppercase {
    text-transform: uppercase;

}

@font-face {
    font-family: "OpenSans-Light";
    src: url(assets/OpenSans-Light.ttf);
    
}

@font-face {
    font-family: "SegoeWP";
    src: url(assets/SegoeWP.ttf);
}

@font-face {
    font-family: "Asap";
    src: url(assets/Asap-Regular.otf);
    
}

