body {
    min-width: min-content;
    margin: 0;
    background-image: url(assets/images/Layer_20.png);
    background-size: cover;

}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.logo-name {
    display: flex;
    margin-top: 26px;

}

.logo {
    width: 88px;
    height: 86px;
    background-image: url(assets/images/Shape_8_copy_3.svg), url(assets/images/Shape_8_copy_4.svg); 
    background-repeat: no-repeat;
    background-position: center;
    
}

.name h1 {
    margin-left: 3px;
    margin-bottom: 21px;
    margin-top: 21px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-family: "OpenSans-Light";
    font-size: 30pt;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

.navigation {
    width: 453px;
    height: 41px;
    margin-top: 71px;
    margin-right: 2px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
    box-shadow: -4px -4px 0 rgba(245,197,6,0.5), -8px -8px 0 rgba(245,197,6,0.25);

}

.menu {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    
}

.menu li {
    flex: 1;
    padding-top: 9px;
    list-style-type: none;

}

.about {
    padding-left: 38px;
    padding-right: 15px;
    border-right: 1px solid #dcb105;

}

.services {
    padding-left: 12px;
    border-right: 1px solid #dcb105;

}

.contact {
    padding-left: 14px;
    padding-right: 11px;

}

.menu li a {
    display: flex;
    font-size: 17px;
    letter-spacing: 0px;
    color: #9b7d08;
    font-family: "SegoeWP";
    text-align: center;
    text-transform: uppercase;

}

.menu li a:hover {
    color: #ffffff;

}

.menu li a img {
    padding-right: 10px;

}

.video-section {
    display: flex;
    margin-top: 45px;

}

.top-text-video {
    margin-top: 72px;
    text-align: center;

}

.desktop-top-video {
    margin-left: 12px;

}

.mobile-top-video {
    display: none;

}

.top-text {
    text-transform: uppercase;
    font-size: 63px;
    letter-spacing: 0.7px;
    color: #f5c506;
    font-family: "Asap";

}

.the-minimal {
    margin-left: 35px;
    margin-top: -4px;
    margin-right: 19px;
    color: #ffffff;
    
}

.ctrl {
    display: flex;
    justify-content: center;
    margin-top: 133px;
    width: 32px;
    height: 57px;
    background-color: #f5c506;

}

.ctrl:hover {
    -webkit-transform: scale(1.2);

}

.icon-area-section {
    position: relative;
    z-index: 1;
    margin-top: 71px;
    background-image: url(assets/images/section2.png);
    box-shadow: 0px 0px 10px 0px #000000, 0px -3px 15px -15px #000000;

}

.icon-area {
    display: flex;
    width: 100%;

}

.icon-area div p {
    font-size: 27px;
    letter-spacing: 0.3px;
    color: #000000;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: center;

}

.icon-area div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 39px;

}

.icon-area div:not(:nth-child(2)) {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;

}

.better img {
    margin-left: 113px;
    width: min-content;

}

.better p {
    width: 322px;
    margin-bottom: 32px;
    margin-top: 9px;
    margin-left: 19px;

}

.customise {
    width: 338px;

}

.customise img {
    margin-left: 133px;
    width: min-content;
    margin-top: -2px;

}

.customise p {
    width: 358px;
    margin-top: 13px;
    margin-bottom: 31px;

}

.free {
    width: 339px;

}

.free img {
    margin-left: 118px;
    width: min-content;
    
}

.free p {
    width: 324px;
    margin-top: 9px;
    margin-bottom: 31px;
    
}

.calendar {
    background-image: url(assets/images/background_section_3.png);

}

.top-text-sect-calendar {
    margin-left: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 37px;
    letter-spacing: -0.7px;
    color: #ffffff;
    font-family: "OpenSans-Light";
    font-weight: 600;
    
}

.text-box {
    display: flex;
    justify-content: center;
    width: 342px;
    background-color: #ec9e03;

}

.text-box p {
    margin-top: 16px;
    margin-left: 10px;
    width: 279px;
    font-size: 28px;
    letter-spacing: 0.1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP";
    font-weight: 100;

}

.calendar-middle {
    display: flex;
    height: 232px;
    
}

.twitter {
    margin-left: 34px;
    width: 329px;
    background-color: #ec9e03;
    background-image: url(assets/images/twitter.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 58px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 114px;
    height: 87px;
    text-align: center;
    background-color: #ddb101;

}

.date-number {
    margin-top: 16px;
    margin-left: 7px;
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP";
    font-weight: bold;

}

.date-word {
    margin-left: 6px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #b26529;
    font-family: "SegoeWP";

}

.scroll {
    display: flex;
    justify-content: center;
    width: 900px;
    height: 1px;
    margin-left: 73px;
    margin-top: 48px;
    margin-bottom: 30px;
    
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;

}

input[type=range]:focus {
    outline: none;

}

input[type=range]::-webkit-slider-runnable-track {
    width: 896px;
    height: 15px;
    border-radius: 7px;
    background: rgb(250, 250, 250, 0.5);
    -webkit-appearance: none;

}

input[type=range]::-webkit-slider-thumb {
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: rgb(236, 158, 3);
    -webkit-appearance: none;
 
}
  

.image-plus {
    position: relative;
    left: 7px;
    top: 207px;
    height: 12px;
    width: 12px;
    background-image: url(assets/images/plus.svg);
    background-repeat: no-repeat;

}

.twitter .image-plus {
    left: 308px;

}

.twitter-text {
    position: relative;
    right: 17px;
    top: 9px;
    float: right;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "SegoeWP";
    font-weight: 300;

}

.image-plus:hover {
    -webkit-transform: scale(1.3);

}

.twitter-chat {
    display: none;
    height: 233px;
    background-color: #f5c507;

}

.twitter-image {
    flex: 1;
    margin-left: 69px;
    margin-top: 17px;
    background-image: url(assets/images/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.chat {
    display: flex;
    flex-direction: column;
    flex: 2;

}

.messages {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 17%;

}

.messages>div:nth-child(2) {
    opacity: 0.7;

}

.messages>div:last-child {
    opacity: 0.6;

}

.message {
    width: 100%;
    height: 56px;
    background-image: url(assets/images/cloud.svg);
    background-repeat: no-repeat;


}

.message-text {
    margin-left: 27px;
    margin-top: 6px;
    width: 71%;
    font-size: 13px;
    letter-spacing: 0.18px;
    color: #8f8e8e;
    font-family: "Arial";

}

.author {
    margin-left: 27px;
    width: 71%;
    font-size: 13px;
    letter-spacing: 0.18px;
    color: #8f8e8e;
    font-family: "Arial";

}

.enter-message {
    margin-left: 77px;

}

input[type=text]:focus {
    outline: none;

}


input[type=text] {
    width: 200px;
    height: 26px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.15);

}

input[type=submit]:focus {
    outline: none;

}


input[type=submit] {
    margin-left: -5px;
    height: 30px;
    width: 70px;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(0deg, #cf8e0b 0%, #eaa826 100%);
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Arial";

}

.last-section {
    background-image: url(assets/images/bg_section_4.png);
    background-size: cover;

}

.top-text-last-section {
    margin-top: 36px;
    margin-left: 213px;
    font-size: 40px;
    letter-spacing: 0.9px;
    color: #f5c506;
    font-family: "OpenSans-Light";
    font-weight: 600;

}

.last-section-img-table,
.image-last-section {
    display: flex;
    
}

.pc {
    height: 347px;
    width: 363px;
    background-image: url(assets/images/pc.svg);
    background-position: center;
    background-repeat: no-repeat;

}

.pc img {
    margin-top: 3px;
}

.pad { 
    margin-top: 89px;
    margin-left: 4px;
    height: 317px;
    width: 135px;
    background-image: url(assets/images/pad.svg);
    background-repeat: no-repeat;

}

.mobile {
    margin-left: 18px;
    margin-top: 55px;
    width: 42px;
    background-image: url(assets/images/mobile.svg);
    background-position: center;
    background-repeat: no-repeat;

}

.table-last-section ul {
    margin-top: 90px;
    margin-left: 58px;
    word-break: break-all;
    list-style-image: url(assets/images/marker.svg);

}

.first {
    padding-bottom: 13px;

}

.second {
    padding-bottom: 29px;

}

.third {
    padding-bottom: 13px;

}

.table-last-section ul li{
    width: 352px;
    height: 37px;
    padding-left: 13px;
    font-size: 23px;
    letter-spacing: 0px;
    color: #a9a9a7;
    font-family: "OpenSans-Light";
    font-weight: 600;
    line-height: 27px;
}

.footer-box {
    background-color: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);

}

.footer-logo a .logo-name {
    margin-top: 6px;

}

.footer-logo a .logo {
    width: 55px;
    height: 55px;
    background-size: cover;

}

.footer-logo a .name h1 {
    margin-left: 7px;
    margin-top: 8px;
    letter-spacing: 1.2px;
    font-size: 22pt;
}

.uppercase {
    text-transform: uppercase;

}

@media (max-width: 640px) {
    header {
        height: 63px;

    }

    .container {
        max-width: 640px;
        justify-content: start;
        margin: initial;

    }

    .logo-name {
        margin-top: 0;
        width: 113%;
        height: 96%;
        background-image: linear-gradient(0deg, #000000 0%, #474745 100%);

    }

    .logo {
        position: absolute;
        margin-top: 10px;
        width: 62px;
        height: 41px;
        background-size: contain;

    }

    .name h1 {
        margin-left: 58px;
        margin-top: 19px;
        letter-spacing: 1.5px;
        font-size: 14pt;

    }

    .navigation {
        margin-right: 0px;
        margin-top: 0;
        margin-left: 21px;
        height: 63px;
        box-shadow: none;

    }

    .menu li {
        padding-top: 18px;

    }

    .menu li a {
        font-size: 19px;
        
    }

    .menu li a img {
        padding-right: 11px;

    }

    .about {
        padding-left: 24px;
        padding-right: 24px;

    }

    .services {
        padding-left: 7px;

    }

    .contact {
        padding-left: 14px;
        padding-right: 10px;

    }

    .video-section {
        margin-top: 0;

    }

    .mobile-top-video {
        display: block;
        width: 639px;

    }

    .icon-area-section {
        position: relative;
        margin-top: -18px;
        box-shadow: none;
        

    }

    .icon-area-section .container::before {
        content: "";
        position: absolute;
        top: -4px;
        width: 99.4%;
        border: 2px solid transparent;
        background-image: url(assets/images/section2.png);
        opacity: 0.5;


    }

    .icon-area-section .container::after {
        content: "";
        position: absolute;
        height: 5px;
        top: -8px;
        width: 99.4%;
        border: 2px solid transparent;
        background-image: url(assets/images/section2.png);
        opacity: 0.5;


    }

    .icon-area div {
        flex: 1;
        padding-top: 0;

    }

    .icon-area div:not(:nth-child(2)) {
        border: 0;

    }

    

    .icon-area div p {
        width: 158px;
        font-size: 23px;

    }

    .better p {
        margin-bottom: 31px;
        margin-top: 17px;
        margin-left: 16px;

    }

    .customise p {
        margin-top: 13px;
        margin-bottom: 31px;
        margin-left: 37px;

    }

    .free p {
        margin-top: 13px;
        margin-bottom: 31px;
        margin-left: 31px;

    }

    .better img {
        margin-left: 42px;
        width: 92px;

    }

    .customise img {
        margin-left: 81px;
        width: 67px;
        margin-top: 29px;

    }

    .free img {
        margin-left: 68px;
        width: 69px;

    }

    .calendar {
        height: 249px;
        background: #ffffff;

    }

    .text-box {
        margin: 8px;
        width: inherit;
        height: 232px;

    }

    .calendar-middle {
        height: 246px;

    }
    
    .calendar-middle video {
        margin-left: 2px;

    }

    .text-box p {
        margin-top: 15px;
        margin-left: 27px;
        width: 261px;
        font-size: 28px;
        line-height: 34px;

    }

    .image-plus {
        left: -11px;
        top: 203px;
        height: 11px;
        width: 11px;

    }

    .twitter-chat {
        display: flex;

    }

    .top-text-last-section {
        margin-top: 31px;
        margin-left: 19px;
        font-size: 38px;
        letter-spacing: 1.6px;

    }

    .last-section-img-table {
        margin-top: 28px;
        margin-left: 26px;  

    }

    .pc {
        width: 385px;

    }

    .pad {
        margin-top: 87px;
        margin-left: -7px;
    
    }

    .last-section {
        height: 466px;

    }
    
    .footer-logo a .logo-name {
        background: none;

    }

    .footer-logo a .logo {
        position: absolute;
        margin-left: 65px;
        margin-top: 0;
        width: 30px;
        height: 30px;
        background-size: contain;

    }

    .footer-logo a .name h1 {
        margin-left: 105px;
        margin-top: 5px;
        font-size: 12pt;

    }

    .top-text-sect-calendar,
    .twitter,
    .date,
    .scroll,
    .table-last-section ,
    .ctrl,
    .desktop-top-video, 
    .top-text-video {
        display: none;

    }

}

@font-face {
    font-family: "OpenSans-Light";
    src: url(/assets/fonts/OpenSans-Light.ttf);
    
}

@font-face {
    font-family: "SegoeWP";
    src: url(assets/fonts/SegoeWP.ttf);
}

@font-face {
    font-family: "Asap";
    src: url(assets/fonts/Asap-Regular.otf);
    
}

